.noe-logo {
    text-align: center
}
.jumbotron a i.bi {
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 2em;
    width: 4em;
    height: 4em;

}
.icon-linkedin {
    background-image: url("/images/icons/linkedin.svg");
}
.icon-github {
    background-image: url("/images/icons/github.svg");
}