.noe-logo {
    text-align: center
}
.icon-linkedin {
    display: inline-block;
    content: "";
    background-image: url("/images/icons/linkedin.svg");
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
}
.icon-github {
    display: inline-block;
    content: "";
    background-image: url("/images/icons/github.svg");
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
}